<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body>
    
    <h1>TinyApp</h1>

    <% if (user) { %>
    <p>You are logged in as <%= user.email %></p>
    
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">  
    </form>

    <% } else {%>
    
    <a href="/login"><button>Login</button></a>
    <a href="/register"><button>Register</button></a>

    <% } %>

   
  </body>

</html>

