<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body>
    
    <h1>TinyApp</h1>

    <form method="POST" action="/login">
    <% if (!username) { %>
        <label for="username">Name:</label>
        <input id="username" type="text" name="username">
        <input type="submit" value="Sign in">  
        
    <% } else {%>
        <p>Logged in as: <%= username %></p>
        
    <% } %>
    </form> 

  </body>

</html>

