<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

<header>
    <% include ./partials/_header %>
</header>

<main>

  <ul>
    <% for (const shortURL in urls) { %>
    <li><%= shortURL %> : <%= urls[shortURL].url %>
      <a href="/urls/<%= shortURL %>">Edit</a>
        <form method="POST" action="/urls/<%= shortURL %>/delete">
          <button>Delete!</button>
        </form>
    </li>
    <% } %>
  </ul>


<a href="/urls/new">Type in your address here to shorten it</a>
 
</main>

</body>

</html>