<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

<header>
    <% include ./partials/_header %>
</header>

<main>

  <ul>
    <% for (const key in urls) { %>
    <li><%= key %> : <%= urls[key] %>
      <form method="POST" action="/urls/<%= key %>/edit">
        <button>Edit</button>
      </form>

      <form method="POST" action="/urls/<%= key %>/delete">
        <button>Delete!</button>
      </form>
    </li>
    <% } %>
  </ul>


<a href="/urls/new">Type in your address here to shorten it</a>
 
</main>

</body>

</html>